connection: &connection
  adapter: postgresql
  encoding: unicode
  host:      <%= ENV['IP'] %>
  pool: 5
  username: <%= ENV['USERNAME'] %>
  password: <%= ENV['PASSWORD'] %>
  

development:
  <<: *connection
  database: workshops_development

test: &test
  <<: *connection
  database: workshops_test
  
template: template0
